 /* === ボタンを表示するエリア ============================== */
.switch-area {
    position       : relative;            /* 親要素が基点       */
    margin         : 1px auto 0;            /* 中央寄せ           */
    width          : 36px;               /* ボタンの横幅       */
}

/* === チェックボックス ==================================== */
.switch-area input[type="checkbox"] {
display        : none;            /* チェックボックス非表示 */
}

/* === チェックボックスのラベル（標準） ==================== */
.switch-area label {
display        : block;               /* ボックス要素に変更 */
box-sizing     : border-box;          /* 枠線を含んだサイズ */
height         : 20px;                /* ボタンの高さ       */
border         : 2px solid #ffffff;   /* 未選択タブのの枠線 */
border-radius  : 10px;                /* 角丸               */
}
.switch-area label:hover {
    cursor: pointer;
 }

/* === チェックボックスのラベル（ONのとき） ================ */
.switch-area input[type="checkbox"]:checked +label {
border-color   : #27acd9;             /* 選択タブの枠線     */
}

/* === 丸部分のSTYLE（標準） =============================== */
.switch-area #swImg {
position       : absolute;            /* 親要素からの相対位置*/
width          : 12px;                /* 丸の横幅           */
height         : 12px;                /* 丸の高さ           */
background     : #ffffff;             /* カーソルタブの背景 */
top            : 4px;                 /* 親要素からの位置   */
left           : 4px;                 /* 親要素からの位置   */
border-radius  : 6px;                /* 角丸               */
transition     : .2s;                 /* 滑らか変化         */
}

/* === 丸部分のSTYLE（ONのとき） =========================== */
.switch-area input[type="checkbox"]:checked ~ #swImg {
transform      : translateX(16px);    /* 丸も右へ移動       */
background     : #27acd9;             /* カーソルタブの背景 */
}